<!-- $Header: /cvsroot/autodoc/autodoc/html.tmpl,v 1.1.1.1 2004/05/12 16:00:34 rbt Exp $ -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <title>Index for <!-- TMPL_VAR ESCAPE="HTML" name="database" --></title>
    <style type="text/css">
	BODY {
		color:	#000000; 
		background-color: #FFFFFF;
		font-family: Helvetica, sans-serif; 
	}

	P {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	P.w3ref {
		font-size: 8pt;
		font-style: italic;
		text-align: right;
	}

	P.detail {
		font-size: 10pt;
	}

	.error {
		color: #FFFFFF;
		background-color: #FF0000;
	}

	H1, H2, H3, H4, H5, H6 {
	}

	OL {
		list-style-type: upper-alpha;
	}

	UL.topic {
		list-style-type: upper-alpha;
	}

	LI.topic {
		font-weight : bold;
	}

	HR {
		color: #00FF00;
		background-color: #808080;
	}

	TABLE {
		border-width: medium;
		padding: 3px;
		background-color: #000000;
		width: 90%;
	}

	CAPTION {
		text-transform: capitalize;
		font-weight : bold;
		font-size: 14pt;
	}

	TH {
		color: #FFFFFF;
		background-color: #000000;
		text-align: left;
	}

	TR {
		color: #000000;
		background-color: #000000;
		vertical-align: top;
	}

	TR.tr0 {
		background-color: #F0F0F0;
	}

	TR.tr1 {
		background-color: #D8D8D8;
	}

	TD {
		font-size: 12pt;
	}

	TD.col0 {
		font-weight : bold;
		width: 20%;
	}

	TD.col1 {
		font-style: italic;
		width: 15%;
	}

	TD.col2 {
		font-size: 12px;
	}
    </style>
    <link rel="stylesheet" type="text/css" media="all" href="all.css">
    <link rel="stylesheet" type="text/css" media="screen" href="screen.css">
    <link rel="stylesheet" type="text/css" media="print" href="print.css">
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
  </head>
  <body>

    <!-- Primary Index -->
	<p><!-- TMPL_VAR ESCAPE="HTML" name="database_comment" --><br><br>Dumped on <!-- TMPL_VAR ESCAPE="HTML" name="dumped_on" --></p>
<h1><a name="index">Index of database - <!-- TMPL_VAR ESCAPE="HTML" name="database" --></a></h1>
<ul>
    <!-- TMPL_LOOP name="schemas" -->
    <li><a name="<!-- TMPL_VAR ESCAPE="HTML" name="schema_sgmlid" -->"><!-- TMPL_VAR ESCAPE="HTML" name="schema" --></a></li><ul>
    	<!-- TMPL_LOOP name="tables" --><li><a href="#<!-- TMPL_VAR ESCAPE="URL" name="table_sgmlid" -->"><!-- TMPL_VAR ESCAPE="HTML" name="table" --></a></li><!-- /TMPL_LOOP name="tables" -->
  	<!-- TMPL_LOOP name="functions" --><li><a href="#<!-- TMPL_VAR ESCAPE="URL" name="function_sgmlid" -->"><!-- TMPL_VAR ESCAPE="HTML" name="function" --></a></li><!-- /TMPL_LOOP name="functions" -->
    </ul>
    <!-- /TMPL_LOOP name="schemas" -->
</ul>

    <!-- Schema Creation -->
    <!-- TMPL_LOOP name="schemas" --><!-- <!-- TMPL_VAR ESCAPE="HTML" name="schema" --><!-- TMPL_VAR ESCAPE="HTML" name="schema" --> -->

		<!-- TMPL_IF name="number_of_schemas" -->
		<hr>
		<h1>Schema <!-- TMPL_VAR ESCAPE="HTML" name="schema" --></h1>
		<!-- TMPL_IF name="schema_comment" -->
			<p><!-- TMPL_VAR name="schema_comment" --></p>
		<!-- /TMPL_IF name="schema_comment" -->

		<!-- /TMPL_IF name="number_of_schemas" -->
		<!-- TMPL_LOOP name="tables" -->
        <hr>
		<h2><!-- TMPL_IF name="view_definition" -->View:<!-- TMPL_ELSE -->Table:<!-- /TMPL_IF -->
			<!-- TMPL_IF name="number_of_schemas" -->
			<a href="#<!-- TMPL_VAR ESCAPE="URL" name="schema_sgmlid" -->"><!-- TMPL_VAR ESCAPE="HTML" name="schema" --></a>.<!-- /TMPL_IF name="number_of_schemas" --><a name="<!-- TMPL_VAR ESCAPE="URL" name="table_sgmlid" -->"><!-- TMPL_VAR ESCAPE="HTML" name="table" --></a>
		</h2>
        <!-- TMPL_IF name="table_comment" -->
         <p><!-- TMPL_VAR ESCAPE="HTML" name="table_comment" --></p>
        <!-- /TMPL_IF name="table_comment" -->


        <table width="100%" cellspacing="0" cellpadding="3">
                <caption><!-- TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="schema" -->.<!-- /TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="table" --> Structure</caption>
                <tr>
                <th>F-Key</th>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                </tr>
            <!-- TMPL_LOOP name="columns" -->
            <tr class="<!-- TMPL_IF name="__odd__" -->tr0<!-- tmpl_else name="__odd__" -->tr1<!-- /TMPL_IF name="__odd__" -->">
				<td>
                <!-- TMPL_LOOP name="column_constraints" -->
                  <!-- TMPL_IF name="column_fk" -->
                  <a href="#<!-- TMPL_VAR ESCAPE="URL" name="column_fk_sgmlid" -->"><!-- TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="column_fk_schema" -->.<!-- /TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="column_fk_table" -->.<!-- TMPL_VAR ESCAPE="HTML" name="column_fk_colnum" --><!-- TMPL_IF name="column_fk_keygroup" -->#<!-- TMPL_VAR name="column_fk_keygroup" --><!-- /TMPL_IF name="column_fk_keygroup" --></a>
                  <!-- /TMPL_IF name="column_fk" -->
                <!-- /TMPL_LOOP name="column_constraints" -->
                </td>
            	<td><!-- TMPL_VAR ESCAPE="HTML" name="column" --></td>
            	<td><!-- TMPL_VAR ESCAPE="HTML" name="column_type" --></td>
                <td><i>
				<!-- TMPL_LOOP name="column_constraints" -->
					<!-- TMPL_IF name="column_primary_key" -->PRIMARY KEY
					<!-- /TMPL_IF name="column_primary_key" -->

					<!-- TMPL_IF name="column_unique" -->
                       UNIQUE<!-- TMPL_IF name="column_unique_keygroup" -->#<!-- TMPL_VAR name="column_unique_keygroup" --><!-- /TMPL_IF name="column_unique_keygroup" -->
                    <!-- /TMPL_IF name="column_unique" -->
				<!-- /TMPL_LOOP name="column_constraints" -->

				<!-- TMPL_IF name="column_constraint_notnull" -->NOT NULL<!-- /TMPL_IF name="column_constraint_notnull" -->
				<!-- TMPL_IF name="column_default" -->DEFAULT <!-- TMPL_VAR ESCAPE="HTML" name="column_default" --><!-- /TMPL_IF name="column_default" -->
				</i>
				<!-- TMPL_IF name="column_comment" --><br><br><!-- TMPL_VAR ESCAPE="HTML" name="column_comment" --><!-- /TMPL_IF name="column_comment" -->
				</td>
			 </tr>
            <!-- /TMPL_LOOP name="columns" -->
        </table>

		<!-- TMPL_UNLESS name="view_definition" -->
		<!-- TMPL_IF name="stats_enabled" -->
        <p>&nbsp;</p>
        <table width="100%" cellspacing="0" cellpadding="3">
         <caption>Statistics</caption>
         <tr>
          <th>Total Space (disk usage)</th>
          <th>Tuple Count</th>
          <th>Active Space</th>
          <th>Dead Space</th>
          <th>Free Space</th>
         </tr>
         <tr class="tr0">
          <td><!-- TMPL_VAR ESCAPE="HTML" name="stats_table_bytes" --></td>
          <td><!-- TMPL_VAR ESCAPE="HTML" name="stats_tuple_count" --></td>
          <td><!-- TMPL_VAR ESCAPE="HTML" name="stats_tuple_bytes" --></td>
          <td><!-- TMPL_VAR ESCAPE="HTML" name="stats_dead_bytes" --></td>
          <td><!-- TMPL_VAR ESCAPE="HTML" name="stats_free_bytes" --></td>
         </tr>
        </table>
		<!-- /TMPL_IF name="stats_enabled" -->
		<!-- /TMPL_UNLESS name="view_definition" -->

        <!-- Constraint List -->
		<!-- TMPL_IF name="constraints" -->
        <p>&nbsp;</p>
		<table width="100%" cellspacing="0" cellpadding="3">
            <caption><!-- TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="schema" -->.<!-- /TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="table" --> Constraints</caption>
            <tr>
            	<th>Name</th>
            	<th>Constraint</th>
            </tr>
			<!-- TMPL_LOOP name="constraints" -->
            <tr class="<!-- TMPL_IF name="__odd__" -->tr0<!-- TMPL_ELSE name="__odd__" -->tr1<!-- /TMPL_IF name="__odd__" -->">
				<td><!-- TMPL_VAR ESCAPE="HTML" name="constraint_name" --></td>
                <td><!-- TMPL_VAR ESCAPE="HTML" name="constraint" --></td>
            </tr>
			<!-- /TMPL_LOOP name="constraints" -->
		</table>
		<!-- /TMPL_IF name="constraints" -->

        <!-- Foreign Key Discovery -->
		<!-- TMPL_IF name="fk_schemas" -->
			<p>Tables referencing this one via Foreign Key Constraints:</p>
		<!-- TMPL_LOOP name="fk_schemas" -->
			<ul>	
				<li><a href="#<!-- TMPL_VAR ESCAPE="URL" name="fk_sgmlid" -->"><!-- TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="fk_schema" -->.<!-- /TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="fk_table" --></a></li>
			</ul>
		<!-- /TMPL_LOOP name="fk_schemas" -->
		<!-- /TMPL_IF name="fk_schemas" -->

	<!-- View Definition -->
	<!-- TMPL_IF name="view_definition" -->
	<pre><!-- TMPL_VAR ESCAPE="HTML" name="view_definition" --></pre>
	<!-- /TMPL_IF name="view_definition" -->

	<!-- List off permissions -->
	<!-- TMPL_IF name="permissions" -->
 	<p>&nbsp;</p>
	<table width="100%" cellspacing="0" cellpadding="3">
    	<caption>Permissions which apply to <!-- TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="schema" -->.<!-- /TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="table" --></caption>
    	<tr>
    		<th>User</th>
    		<th><center>Select</center></th>
    		<th><center>Insert</center></th>
    		<th><center>Update</center></th>
    		<th><center>Delete</center></th>
    		<th><center>Reference</center></th>
    		<th><center>Rule</center></th>
    		<th><center>Trigger</center></th>
    	</tr>
		<!-- TMPL_LOOP name="permissions" -->
		<tr class="<!-- TMPL_IF name="__odd__" -->tr0<!-- tmpl_else name="__odd__" -->tr1<!-- /TMPL_IF name="__odd__" -->">
			<td><!-- TMPL_VAR ESCAPE="HTML" name="user" --></td>
			<td><!-- TMPL_IF name="select" --><center>&diams;</center><!-- /TMPL_IF name="select" --></td>
			<td><!-- TMPL_IF name="insert" --><center>&diams;</center><!-- /TMPL_IF name="insert" --></td>
			<td><!-- TMPL_IF name="update" --><center>&diams;</center><!-- /TMPL_IF name="update" --></td>
			<td><!-- TMPL_IF name="delete" --><center>&diams;</center><!-- /TMPL_IF name="delete" --></td>
			<td><!-- TMPL_IF name="references" --><center>&diams;</center><!-- /TMPL_IF name="references" --></td>
			<td><!-- TMPL_IF name="rule" --><center>&diams;</center><!-- /TMPL_IF name="rule" --></td>
			<td><!-- TMPL_IF name="trigger" --><center>&diams;</center><!-- /TMPL_IF name="trigger" --></td>
		</tr>
		<!-- /TMPL_LOOP name="permissions" -->
	</table>
	<!-- /TMPL_IF name="permissions" -->

	<p>
		<a href="#index">Index</a> -
		<a href="#<!-- TMPL_VAR ESCAPE="URL" name="schema_sgmlid" -->">Schema <!-- TMPL_VAR ESCAPE="HTML" name="schema" --></a>
    </p>
	<!-- /TMPL_LOOP name="tables" -->

	<!-- We've gone through the table structure, now lets take a look at user functions -->
	<!-- TMPL_LOOP name="functions" -->
		<hr>
		<h2>Function: 
			<a href="#<!-- TMPL_VAR ESCAPE="HTML" name="schema_sgmlid" -->"><!-- TMPL_IF name="number_of_schemas" --><!-- TMPL_VAR ESCAPE="HTML" name="schema" --></a>.<!-- /TMPL_IF name="number_of_schemas" --><a name="<!-- TMPL_VAR ESCAPE="URL" name="function_sgmlid" -->"><!-- TMPL_VAR ESCAPE="HTML" name="function" --></a>
		</h2>
<h3>Returns: <!-- TMPL_VAR ESCAPE="HTML" name="function_returns" --></h3>
<h3>Language: <!-- TMPL_VAR ESCAPE="HTML" name="function_language" --></h3>
        <!-- TMPL_IF name="function_comment" --><p><!-- TMPL_VAR ESCAPE="HTML" name="function_comment" --></p><!-- /TMPL_IF name="function_comment" -->
        <pre><!-- TMPL_IF name="function_source" --><!-- TMPL_VAR ESCAPE="HTML" name="function_source" --><!-- /TMPL_IF name="function_source" --></pre>
	<!-- /TMPL_LOOP name="functions" -->

<!-- /TMPL_LOOP name="schemas" -->
<p class="w3ref">Generated by <a href="http://www.rbt.ca/autodoc/">PostgreSQL Autodoc</a></p>
<p class="w3ref"><a href="http://validator.w3.org/check/referer">W3C HTML 4.01 Strict</a></p>
</body></html>
